# Express API Server port
PORT=5000

# MongoDB Atlas URI (Replace with your actual MongoDB cloud connection string)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/gitverse?retryWrites=true&w=majority

# JWT signing secret key
JWT_SECRET=gitverse_secret_token_change_me_in_production
